
.centro-derecha {
    background-image: url('img/Central/imagenCentral.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    height: 80vh;
}

.imagen-central {
    width: 50%;
}

.contenido {
    text-align: left;
    padding: 2%;
    margin-right: 20%;
    width: 50%;
    color: white;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.6rem;
    font-weight: 200;
}

button {
    font-size: 1.8rem;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: rgb(97, 94, 94);
    margin-bottom: 0;
}

.productos-titulo {
    text-align: center;
    width: 100%;
    font-size: 1.8rem;
    padding: 20px;
    background-color: rgb(97, 94, 94);
    margin-bottom: 0;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
}

.card-tittle {
    color: rgb(197, 134, 57);
    font-weight: 200;
    padding-top: 20px;
}
.parrafo-01 {
    font-size: 1.2rem;
    font-weight: 200;
    text-align: center;
    width: 100%;
    padding: 5px;
    padding-top: 10px;
}

.parrafo-02 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 5px;
    color: rgb(197, 134, 57);
}

.parrafo-form {
    font-size: 1.2rem;
    font-weight: 200;
    text-align: center;
    width: 100%;
    padding: 5px;
    padding-top: 10px;
    color: rgb(197, 134, 57);
}


.contacto {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    background-image: url('img/Productos/Producto4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    padding: 0;
}

.contacto-contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    padding: 300px;
    padding-top: 220px;
    padding-left: 360px;
}


/* Path: contacto.css */

.contacto-formulario {
    flex-basis: 50%;
    padding: 10px;
    background-color: #ffffff;
}

.contacto-titulo {
    text-align: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.contacto-formulario form {
    display: flex;
    flex-direction: column;
}

.contacto-formulario label {
    margin-top: 10px;
}

.contacto-formulario button[type="submit"],
.contacto-formulario button[type="reset"] {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.recetas {
    background-color: #171616;
    color: #ffffff;
    padding: 50px 180px;
}

.recetas-titulo {
    text-align: center;
    width: 100%;
    font-size: 1.8rem;
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.card-recetas {
    background-color: #BCA177;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

#card-titulo {
    color: #ffffff;
    font-weight: 500;
    padding-top: 15px;
    text-align: center;
    font-size: 1.6rem;
    color: #755c35;
}

@media (max-width: 767px) {
    .contacto-contenedor {
        flex-direction: column;
        height: auto;
        padding: 0;
    }
    
    .contacto-formulario {
        flex-basis: auto;
        margin-top: 30px;
    }

    .contacto {
        background-image: none;
    }

    .portada-parrafo {
        display: none;
    }

    .recetas {
        padding: 50px 20px;
    }	
}
